.synth.chain {
  display: flex;
}

.source {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
  margin: 10px 0;
  align-items: flex-start;
}

/* synth */
.source {
  display: flex;
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--button-border-color);
}
.source .shape {
  display: flex;
  flex-direction: column;
}
.source fieldset title {
  display: block;
}
.source .link .params {
  display: flex;
}
.source .params fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  padding: 0;
  margin: 0 10px;
}
.source .params label {
  display: block;
}
.source .params label span {
  margin-left: 0.25rem;
}
.source .next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}
.source .next button {
  background: none;
  border: 1px solid var(--button-border-color);
}

/* modulator */
.modulators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
}
.modulator-data {
  display: flex;
  border: 1px solid var(--button-border-color);
  padding: 10px;
  margin: 10px;
  width: 48%;
  max-width: 48%;
}
.modulator-data .shape {
  min-width: 90%;
}

.modulator-data .modulator,
.modulator-data .next {
  display: flex;
  flex-direction: column;
}
.modulator .lfo,
.modulator .envelope {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modulator .lfo {
  padding-bottom: 10px;
}
.modulator .params fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  padding: 0;
  margin: 0 10px;
}
.modulator .params label {
  display: block;
  white-space: nowrap;
}
.modulator .params input[type="number"] + span {
  padding-left: 0.2em;
}
.modulator-data .next {
  margin-left: 10px;
  white-space: nowrap;
}
